.anuncio {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	outline: none;
	background-color: transparent;
	font-size: 16px;

	border-bottom-width: 1px;
	cursor: pointer;
	display: flex;
	padding: 10px 15 px 0 15px;
	transition: background-color 0.2s;
	border-style: solid;
}
.anuncio:hover {
	background-color: rgba(0, 0, 0, 0.03);
}
.anuncio-cabecera {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	outline: none;
	background-color: transparent;
	font-size: 16px;
	margin-bottom: 0%;
	margin-top: 30px;
	color: rgb(101, 119, 134);
	margin-bottom: 2px;
}
.anuncio-contenido {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	outline: none;
	background-color: transparent;
	font-size: 16px;
	margin-left: 10px;
	display: inline-table;
	color: rgb(101, 119, 134);
	margin-bottom: 2px;
}
.anuncio-precio {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	outline: none;
	background-color: transparent;
	font-size: 16px;
	margin-top: 0%;
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
	max-width: 425px;
}
.anuncio-nombre {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	outline: none;
	background-color: transparent;
	font-size: 22px;

	color: rgb(20, 23, 26);
	font-weight: bold;
}
.anuncio-venta {
	font-size: 20px;
	margin-left: 5px;
}
.anuncio-separador {
	padding: 0 5px;
}

.bordered {
	border-color: rgb(230, 236, 240);
	border-style: solid;
}

.left {
	font-size: 25px;
	font-weight: 900;
	justify-content: flex-end;
	display: inline-flex;
	flex: 0 0 auto;
	margin-right: 30px;
}

.right {
	margin-left: 60px;
	flex: 1;
	padding-bottom: 10px;
}
.anuncio-etiquetas-contenido {
	margin-left: 85px;
}

.left span {
	color: brown;
	font-weight: 900;
	justify-content: flex-end;
	display: inline-flex;
	flex: 0 0 auto;
	margin-right: 30px;
}

.mensaje {
	justify-content: center;
}
