html,
body {
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	background: #f0f0f0;
}

.container {
	position: fixed;
	width: 340px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -140px;
	margin-left: -170px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
.loginPage-title {
	color: #555;
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 14px;
}
.loginPage-field {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	outline: none;
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 270px;
	height: 35px;
}
.loginPage-submit {
	float: right;
	margin-right: 20px;
	margin-top: 0px;
	width: 80px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #acd6ef; /*IE fallback*/
	background-image: -moz-linear-gradient(
		top left 90deg,
		#acd6ef 0%,
		#6ec2e8 100%
	);

	border-radius: 30px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	cursor: pointer;
}

.loginPage-error {
	background-color: rgb(224, 36, 94, 0.1);
	border: 1px solid rgba(224, 36, 94, 0.2);
	border-radius: 5px;
	color: rgb(224, 36, 94);
	margin-top: 20px;
	padding: 10px 15px;
}
.loginPage-submit:hover {
	background-image: -moz-linear-gradient(
		top left 90deg,
		#b6e2ff 0%,
		#6ec2e8 100%
	);
}

.loginPage-submit:active {
	background-image: -moz-linear-gradient(
		top left 90deg,
		#6ec2e8 0%,
		#b6e2ff 100%
	);
}

.loginPage-checkbox {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 18px;
	margin-top: 20px;
}

#lower {
	width: 340px;
	height: 90px;
	margin-top: 70px;
	background: #ecf2f5;

	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
